<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!-- Lets the system camera app write the invoice photo into Fatura's cache (see PhotoCapture.android.kt). -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fatura.photos"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fatura_photo_paths" />
        </provider>
    </application>

</manifest>
